@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
    --Inter: "Inter", sans-serif;
}

* {
    font-size: 14px;
    font-family: var(--Inter);
    padding: 0px;
}

body {
    background-color: var(--OffBlack);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.container {
    max-width: 375px;
    background-color: var(--DarkGrey);
    border-radius: 15px;
    padding: 20px;
}

.img {
    width: 25%;
    margin: auto;
}

.img > img {
    max-width: 100%;
    border-radius: 100px;
}

.info {
    max-width: 100%;
    text-align: center;
}

.info h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    margin: 20px 0px 5px 0px;
}

.info h2 {
    font-size: 1rem;
    color: var(--Green);
    margin: 0;
}

.info p {
    color: var(--White);
    margin: 25px auto;
}

.links {
    max-width: 100%;
    text-align: center;
}

.links a {
    background-color: var(--Grey);
    text-decoration: none;
    max-width: 100%;
    font-weight: 600;
    padding: 15px;
    margin: 15px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
}

.links a:link, .links a:visited {
    color: var(--White);
}

.links a:active, .links a:hover {
    background-color: var(--Green);
    color: var(--DarkGrey);
}

.attribution {
    width: 100%;
}


